-
  var tasks = [
    {
      title: "Подбор iPhone XS Max Space gray 512 GB",
      icon: "smartphone",
      name: "Дабрыня Никитич",
      address: "10 Авеню, дом 7"
    },
    {
      title: "Подбор iPhone XS Max Space gray 512 GB iPhone XS Max Space gray 512 GB iPhone XS Max Space gray 512 GB iPhone XS Max Space gray 512 GB iPhone XS Max Space gray 512 GB",
      icon: "car",
      name: "Владимир Римский-Корсаков",
      address: "Хабаровск, ул. Красных Пионеров, пр-к Александровский, дом 3"
    },
    {
      title: "Подбор iPhone XS Max Space gray 512 GB",
      icon: "smartphone",
      name: "Дабрыня Никитич",
      address: "10 Авеню, дом 7"
    },
    {
      title: "Подбор iPhone XS Max Space gray 512 GB iPhone XS Max Space gray 512 GB",
      icon: "laptop",
      name: "Владимир Римский-Корсаков",
      address: "Хабаровск, ул. Красных Пионеров, пр-к Александровский, дом 3"
    },
    {
      title: "Подбор iPhone XS Max Space gray 512 GB",
      icon: "earphones",
      name: "Дабрыня Никитич",
      address: "10 Авеню, дом 7"
    },
  ];
