include tasks.data.pug



section.section.section--top.tasks
  .container
    .section__header.section__header--row
      h2.section__title Найти <span class="text-primary">задание</span>
      a.link.underline.underline--dashed.text-primary(href="") Перейти в общий каталог

    ul.tasks-list
      each item in tasks
        li.tasks-list__item
          .task-card
            .task-card__icon
              +icon( item.icon )
            .task-card__content
              .task-card__info
                .task-card__heading
                  a(href="")
                    h5.task-card__title(title="#1421 " + item.title)
                      span.task-card__title-num #1421
                      span.task-card__title-text= item.title
                  span.task-card__label Подбор под ключ
                ul.task-card__meta
                  li.task-card__meta-item
                    a(href="")
                      +icon('user-thin-o').task-card__meta-icon
                      span.task-card__meta-text= item.name
                  li.task-card__meta-item
                    +icon('calendar-o').task-card__meta-icon
                    span.task-card__meta-text.underline.underline--dashed осталось 2 дня
                  li.task-card__meta-item
                    +icon('placeholder-o').task-card__meta-icon
                    span.task-card__meta-text= item.address

              a.button.button--light(href="") Подробнее
