/* ==========================================================================
   #SOCIAL
   #SHARE
   ========================================================================== */

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 0.75;
}

.social--center {
  justify-content: center;
}

.social__item {
  display: flex;
  line-height: inherit;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__link {
  font-size: 24px;
  line-height: 0;
}

