.section.needs
  .container
    +grid().needs__grid
      +col({md: 6})
        .needs-card
          .needs-card__inner
            .needs-card__body
              h5.needs-card__title.
                Нужна помощь
                <br>
                специалиста!
              a.button.button--outline-primary(href="") Подробнее

            .needs-card__img
              img(src="assets/img/content/searching-user.svg", alt="")

      +col({md: 6})
        .needs-card
          .needs-card__inner
            .needs-card__body
              h5.needs-card__title.
                Есть компетенции,
                <br>
                готов работать!
              a.button.button--outline-primary(href="") Подробнее

            .needs-card__img
              img(src="assets/img/content/office-worker.svg", alt="")
