mixin dates-tooltip(index=0)
  template(id="tippy-tpl-10" + index)
    .tooltips-template.tooltips-template--dates&attributes(attributes)
      ul.timing-list
        li.timing-item
          span.timing-item__date 18 Октября, 2020
          span.timing-item__text Публикация задания
        li.timing-item
          span.timing-item__date 20 Октября, 2020
          span.timing-item__text Срок исполнения
