mixin history-card(data, index)
  .history-card(class=(data.active) ? "is-active" : "")&attributes(attributes)
    a.history-card__icon(href="" title= data.title)
      +icon('search-o')

    .history-card__content
      .history-card__info
        a(href="")
          h5.history-card__title(title= data.title)= data.title
        .meta.meta--inline.history-card__meta
          .meta-item
            span.history-card__label Подбор под ключ
          .meta-item
            +icon('suitcase-o')
            = `Заказ #${data.num}`
          .meta-item
            a.js-tippy(href="" data-tippy-content="Исполнитель")
              +icon('user-thin-o').history-card__meta-icon
              = data.name
          .meta-item
            +icon('calendar-o')
            | Дата: 12.08.2020

      a.button-icon.history-card__link(href="")
        +icon('arrow-rounded-o')
        span.hidden-visually Подробнее
