mixin stars(progress)
  .stars&attributes(attributes)
    <svg class="stars__svg" viewBox="0 0 120 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H2H118H120V20H118H2H0V0ZM111.09 6.81775L118 7.82776L113 12.6978L114.18 19.5778L108 16.3278L101.82 19.5778L103 12.6978L98 7.82776L104.91 6.81775L108 0.557739L111.09 6.81775ZM7 12.6978L2 7.82776L8.91016 6.81775L12 0.557739L15.0898 6.81775L22 7.82776L17 12.6978L18.1797 19.5778L12 16.3278L5.82031 19.5778L7 12.6978ZM60 0.557739L63.0898 6.81775L70 7.82776L65 12.6978L66.1797 19.5778L60 16.3278L53.8203 19.5778L55 12.6978L50 7.82776L56.9102 6.81775L60 0.557739ZM39.0898 6.81775L36 0.557739L32.9102 6.81775L26 7.82776L31 12.6978L29.8203 19.5778L36 16.3278L42.1797 19.5778L41 12.6978L46 7.82776L39.0898 6.81775ZM84 0.557739L87.0898 6.81775L94 7.82776L89 12.6978L90.1797 19.5778L84 16.3278L77.8203 19.5778L79 12.6978L74 7.82776L80.9102 6.81775L84 0.557739Z" fill="white"></path></svg>
    .stars__back
    .stars__progress(style="width: " + progress + "%")
