mixin task-card-simple(data, index)
  .task-card.task-card--simple&attributes(attributes)
    .task-card__content
      .task-card__info
        .task-card__heading
          a(href="")
            h5.task-card__title(title= `#${data.num} ${data.title}`)
              span.task-card__title-num= `#${data.num}`
              span.task-card__title-text= data.title

        .meta.meta--inline.task-card__meta
          .meta-item
            a(href="")
              +icon('user-thin-o')
              = data.name
          .meta-item
            +icon('calendar-o')
            span.underline.underline--dashed.js-tippy-with-tpl(data-template="tippy-tpl-10" + index) осталось 2 дня
            +dates-tooltip(index)
          .meta-item
            +icon('placeholder-o')
            = data.address

      a.button-icon.task-card__link.task-card__link--icon(href="" aria-label="Подробнее")
        +icon('paper-plane')
