extends ../layouts/default

block variables
  - var pageTitle = 'Личный кабинет'
  - var bodyClass = 'profile-page'

block content
  include ../components/layout/header-logged
  main.content-wrapper
    include ../components/dashboard/dashboard-specialist
  include ../components/layout/footer
