extends ../layouts/default

block variables
  - var pageTitle = 'Главная'
  - var bodyClass = ''

block content
  include ../components/layout/header
  main.content-wrapper
    include ../components/top-banner/top-banner-form
  include ../components/layout/footer
