extends ../layouts/default

block variables
  - var pageTitle = 'Главная'
  - var bodyClass = 'home-page'

block content
  include ../components/layout/header
  main.content-wrapper
    include ../components/top-banner/top-banner-form
    include ../components/text-image/text-image
    include ../components/needs/needs
    include ../components/using-info/using-info
    include ../components/faq/faq
  include ../components/layout/footer
