extends ../layouts/default

block variables
  - var pageTitle = 'Регистрация | Специалист'
  - var bodyClass = 'signup-page'

block content
  include ../components/layout/header-logged
  main.content-wrapper
    include ../components/signup/signup-spec
  include ../components/layout/footer
