.numbers-bar
  .container.container--narrow
    ul.numbers-list
      li.numbers-item
        span.numbers-item__value 1533
        span.numbers-item__unit Специалиста
      li.numbers-item
        span.numbers-item__value 521
        span.numbers-item__unit Онлайн-запросов
      li.numbers-item
        span.numbers-item__value 2000
        span.numbers-item__unit Решенных задач
