.site-navline.site-navline--header
    .container
      .site-navline__inner
        .site-navline__left
          .site-navline__logo
            a.logo(href="")
              .logo__text Buberu

        .site-navline__right
          ul.site-navline__roles
            li.site-navline__roles-item
              a.site-navline__roles-link(href="") Клиентам
            li.site-navline__roles-item
              a.site-navline__roles-link(href="") Специалистам
