/* ==========================================================================
   #WRAPPER-OBJECT
   ========================================================================== */

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.content-wrapper {
  flex: 1 0 auto;
  // overflow: visible;
}
