mixin card-person(person) {
  .card-person
    .card-person__inner
      .card-person__feat(class=(person.feat) ? 'is-active': '')
        +icon('star')
      .card-person__img
        .embed
          .embed__inner
            img(src="assets/img/content/avatars/" + person.img, alt="")
        .user-status(class=(person.status) ? 'is-active': '')

      .card-person__title= person.title
      .card-person__subtitle= person.subtitle
      .rating-stars.card-person__stars
        <svg class="rating-stars__body" fill="none" viewBox="0 0 121 19" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="m9.99 0-3.09 6.25-6.9 1.01 4.99 4.87-1.18 6.87 6.17-3.25 6.17 3.25-1.18-6.87 4.99-4.87-6.9-1.01-3.09-6.25zm25 0-3.09 6.25-6.9 1.01 4.99 4.87-1.18 6.87 6.17-3.25 6.17 3.25-1.18-6.87 4.99-4.87-6.9-1.01-3.09-6.25zm25 0-3.09 6.25-6.9 1.01 5 4.87-1.18 6.87 6.17-3.25 6.17 3.25-1.18-6.87 4.99-4.87-6.9-1.01-3.09-6.25zm25 0-3.09 6.25-6.9 1.01 4.99 4.87-1.18 6.87 6.17-3.25 6.17 3.25-1.18-6.87 4.99-4.87-6.9-1.01-3.09-6.25zm25 0-3.09 6.25-6.9 1.01 5 4.87-1.18 6.87 6.17-3.25 6.17 3.25-1.18-6.87 4.99-4.87-6.9-1.01-3.09-6.25z"/></svg>
        .rating-stars__back
        .rating-stars__progress(style="width: 95%;")

      .card-person__info
        .card-person__info-item
          span.card-person__info-item-head Всего задач
          span.card-person__info-item-data 434
        .card-person__info-item
          span.card-person__info-item-head Оценки
          span.card-person__info-item-data 372
        .card-person__info-item
          span.card-person__info-item-head На сайте
          span.card-person__info-item-data 233 дня

      a.card-person__button.button.button--light(href="") Смотреть профиль
}
