-
  var faq = [
    {
      title: "Чем полезен сервис Buberu?",
      icon: "search-o"
    },
    {
      title: "Как найти честного специалиста?",
      icon: "user-o"
    },
    {
      title: "Ценообразование ставки специлистов?",
      icon: "dollar-o"
    },
    {
      title: "Как стать специалистом на сервисе?",
      icon: "cog-o"
    },
  ];
