/* ==========================================================================
   #ICON-LIST
   ========================================================================== */

.icon-list {

  > *+* {
    margin-top: 12px;
  }
}

.icon-list__item {
  position: relative;
  line-height: 1.4;
  font-size: 14px;

  .icon {
    position: absolute;
    top: 0.25em;
    left: 0;
    // transform: translateY(-50%);
    font-size: 13px;
    color: $color-light;
  }
}

.icon-list__link {
  padding-left: 20px;

  @include basic-transition((color));
  @include on-event {
    color: $color-primary;
  }
}
