/* ==========================================================================
   #MOBILE-NAV
   ========================================================================== */

.mobile-nav {
  z-index: 10;
  transition: visibility 0.3s;

  @include mq($from: md) {
    display: none;
  }

  &.is-closed {
    visibility: hidden;
    pointer-events: none;
  }

  &.is-open {
    visibility: visible;
  }
}

.mobile-nav__overlay,
.mobile-nav__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-nav__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .mobile-nav.is-closed & {
    opacity: 0;
    transform: translateX(-150%);
    transition: transform 0ms ease-out .3s, opacity .3s linear;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    transition: opacity .3s linear;
  }
}

.mobile-nav__content {
  width: 280px;
  // overflow-y: auto;
  height: 100vh;
  color: #000;
  background-color: #fff;
  z-index: 2;

  .mobile-nav.is-closed & {
    transform: translateX(-150%);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__inner {
  position: relative;

  .mobile-nav.is-closed & {
    transform: translateX(-30px);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 10px 0 10px 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border-light;
}

.mobile-nav__logo {
  color: $color-primary;

  .logo {
    font-size: 24px;
  }
}

.mobile-nav .button-close {
  font-size: 14px;
  color: $color-primary;
}


.mobile-nav__body {
  height: calc(100vh - 72px);
  padding: 1rem 1rem 2rem 1rem;
  font-size: 15px;
  overflow-y: auto;

  >*:not(:last-child) {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-bg-light;
    }
  }
}

.mobile-menu a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.mobile-nav__user-flag {
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border-light;

  > * {
    padding-bottom: 20px;
  }

  .user-flag__title {
    font-size: 15px;
  }
}
