/* ==========================================================================
   #SITE-NAVLINE
   ========================================================================== */

.site-navline {
  color: #fff;
  background-color: $color-bg-primary;

  &--header {
    height: 40px;
  }

  &--footer {
    height: 60px;
  }
}

.site-navline__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;

  > * {
    display: flex;
  }
}

.site-navline__left {
  margin-right: 1.5rem;
}

.site-navline__logo {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;

  .site-navline--footer & {
    padding: 16px 0;
    font-size: 24px;
  }
}

.site-navline__social {


  @include mq($from: sm) {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 0.5px solid #FF9A53;
    border-right: 0.5px solid #FF9A53;
  }

  .social__item:not(:last-child) {
    @include mq($until: sm) {
      margin-right: 24px;
    }
  }

  .social__link {

    @include mq($until: sm) {
      font-size: 20px;
    }
  }

}

.site-navline__roles {
  display: flex;

  .site-navline--footer & {

    @include mq($until: sm) {
      display: none;
    }
  }
}

// .site-navline__roles-item {

// }

.site-navline__roles-link {
  display: block;
  font-weight: 500;
  line-height: 1.15;
  border-right: 0.5px solid #FF9A53;
  background-color: $color-bg-primary;

  @include basic-transition((background-color));
  @include on-event {
    background-color: $color-hover-primary;
  }

  .site-navline--header & {
    padding: 12px 30px 12px 20px;
    font-size: 14px;
  }
  .site-navline--footer & {
    padding: 20px 30px;
  }
}

