/* ==========================================================================
   #INFO-BOX
   ========================================================================== */

.info-box {
  padding: 20px;
  border: 1px solid $color-border-light;
  border-radius: $global-radius;
  font-size: rem(14px);
}

.info-box__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: inherit;

  .icon {
    position: relative;
    top: -2px;
    margin-right: 6px;
    font-size: 15px;
    color: $color-primary;
  }
}

.info-box__text {
  color: $color-light;
  line-height: 1.4;

  > *+* {
    margin-top: 0.5rem;
  }
}

