/* ==========================================================================
   #SECTION
   ========================================================================== */

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--top {
    padding-top: 120px;
  }

  &--bottom {
    padding-bottom: 120px;
  }
}

.section__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: rem(32px);
  line-height: 1.3;

  @include mq($from: md) {
    font-size: rem(38px);
  }
}
