/* ==========================================================================
   #USER-PHOTO
   ========================================================================== */

.user-photo {
  position: relative;
  width: 46px;
  height: 46px;
  overflow: hidden;

  &.offline::after,
  &.online::after {
    content: '';
    position: absolute;
    right: 4%;
    bottom: 4%;
    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background-color: $grey-3;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  }

  &.online::after {
    background-color: $color-success;
  }
}

.user-photo__inner {
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.user-photo__img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  .user-photo--no-photo & {
    background-color: $color-bg-light;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 1700 1892' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m850 0c-257 0-468 211-468 468 0 257 210 468 468 468 257 0 468-210 468-468 0-257-211-468-468-468zm0 172c165 0 296 132 296 296s-132 296-296 296c-165 0-296-131-296-296 0-165 131-296 296-296zm-382 974c-124 0-243 49.3-331 137-87.7 87.7-137 207-137 331v191a86 86 0 1 0 172 0v-191c0-78.5 31.1-154 86.6-210 55.5-55.5 131-86.6 210-86.6h764c78.6 0 154 31.1 209 86.6 55.5 55.5 86.8 131 86.8 210v191a86 86 0 1 0 172 0v-191c0-124-49.5-243-137-331-87.7-87.7-207-137-331-137z' fill='%23acb5bd'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 42.5%;
  }
}
