/* ==========================================================================
   #HEADER
   ========================================================================== */

.site-header {


  &--transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

.site-header__main {
  border: 0.5px solid rgba($grey-3, 0.5);
  background-color: #fff;

  .site-header--transparent & {
    color: #fff;
    border-bottom-color: transparent;
    background-color: rgba(24, 24, 24, 0.45);
  }
}

.site-header__main-inner {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.site-header__main-left {
  margin-right: 2rem;
}

// .site-header__main-right {

// }

.site-header__nav {


  @include mq($until: md) {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.site-header__menu {
  display: none;

  @include mq($from: md) {
    display: flex;
  }
}

.site-header__menu-item {
  & + & {
    margin-left: 30px;
  }
}

.site-header__menu-link {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  line-height: 1.15;

  @include basic-transition((border-color, font-weight));
  @include on-event {
    border-color: $color-border-primary;
  }
}

.site-header__signin {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 0;
}

.site-header__signin-item {
  position: relative;

  & + & {
    margin-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      opacity: 0.3;
    }
  }
}

.site-header__signin-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;

  @include basic-transition((opacity));
  @include on-event {
    opacity: 0.6;
  }
}

.site-header__burger {

  @include mq($from: md) {
    display: none;
  }
}

.site-header__actions {
  display: flex;
  align-items: center;
  height: 100%;
}

.site-header__action {
  position: relative;
  line-height: 0.75;
}

.site-header__action-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: inherit;
  @include basic-transition((background-color));
  @include on-event {
    background-color: rgba($color-bg-light, 0.3);
  }

  .icon {
    position: relative;
    font-size: 16px;
  }

  &.is-active {

    .icon::after {
      content: '';
      position: absolute;
      top: -2px;
      right: -3px;
      width: 9px;
      height: 9px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      background-color: $color-bg-primary;

      .site-header--transparent & {
        border-color: $dark-3;
      }
    }
  }
}

.site-header__user {
  display: block;
  margin-left: 12px;
}

.site-header__actions-dropdown {
  display: none;
}



/* #MOBILE-NAV
   ========================================================================== */

.mobile-nav {
  z-index: 10;

  @include mq($from: md) {
    display: none;
  }

  &.is-closed {
    visibility: hidden;
  }

  &.is-open {
    visibility: visible;
  }
}

.mobile-nav__overlay,
.mobile-nav__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-nav__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .mobile-nav.is-closed & {
    opacity: 0;
    transform: translateX(-150%);
    transition: transform 0ms ease-out .3s, opacity .3s linear;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    transition: opacity .3s linear;
  }
}

.mobile-nav__content {
  width: 280px;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  z-index: 2;

  .mobile-nav.is-closed & {
    transform: translateX(-150%);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__inner {
  position: relative;

  .mobile-nav.is-closed & {
    transform: translateX(-30px);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 10px 0 10px 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border-light;
}

.mobile-nav__logo {
  color: $color-primary;

  .logo {
    font-size: 24px;
  }
}

.mobile-nav .button-close {
  color: $color-primary;
}


.mobile-nav__body {
  padding: 1rem 2rem 1rem 1rem;
  font-size: 15px;

  >*:not(:last-child) {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 16px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.3;
    }
  }
}

.mobile-menu a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

