/* ==========================================================================
   #HEADER
   ========================================================================== */

.site-header {
  z-index: 100;


  &--transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.site-header__main {
  border: 0.5px solid rgba($grey-3, 0.5);
  background-color: #fff;

  .site-header--transparent & {
    color: #fff;
    border-bottom-color: transparent;
    background-color: rgba(24, 24, 24, 0.45);
  }
}

.site-header__main-inner {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.site-header__main-left {
  margin-right: 2rem;
}

// .site-header__main-right {

// }

.site-header__nav {


  @include mq($until: md) {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.site-header__menu {
  display: none;

  @include mq($from: md) {
    display: flex;
  }
}

.site-header__menu-item {
  & + & {
    margin-left: 30px;
  }
}

.site-header__menu-link {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  line-height: 1.15;

  @include basic-transition((border-color, font-weight));
  @include on-event {
    border-color: $color-border-primary;
  }
}

.site-header__signin {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 0;
}

.site-header__signin-item {
  position: relative;

  & + & {
    margin-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      opacity: 0.3;
    }
  }
}

.site-header__signin-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.15;

  @include basic-transition((opacity));
  @include on-event {
    opacity: 0.6;
  }
}

.site-header__burger {

  @include mq($from: md) {
    display: none;
  }
}

.site-header__actions {
  display: flex;
  align-items: center;
  height: 100%;
}

.site-header__actions-item {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  line-height: 0.75;

  &:last-child {

    @include mq($until: md) {
      display: none;
      pointer-events: none;
    }
  }
}

.site-header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: inherit;
  cursor: pointer;
  @include basic-transition((background-color));
  @include on-event {
    background-color: rgba($color-bg-light, 0.3);
  }

  .icon {
    position: relative;
    font-size: 16px;
    color: $grey-2;

    .site-header--transparent & {
      color: inherit;
    }
  }

  &.has-messages {

    .icon::after {
      content: '';
      position: absolute;
      top: -2px;
      right: -3px;
      width: 9px;
      height: 9px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      background-color: $color-bg-primary;

      .site-header--transparent & {
        border-color: $dark-3;
      }
    }
  }
}

.site-header__user {
  display: block;
  margin-left: 12px;
  cursor: pointer;
}



.site-header__dropdown {
  padding: 0 20px;
  width: 280px;
  color: $color-body;
  box-shadow: $global-shadow;

  &--sm {
    width: 220px;
  }
}

.site-header__dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $color-border-light;
}

.site-header__dropdown-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

.site-header__dropdown-counter {
  display: inline-block;
  margin-left: 6px;
  color: $color-primary;
}

.site-header__dropdown-reset {
  color: $color-light;
}

.site-header__dropdown-flag {

  .flag__body {
    font-size: 14px;
line-height: 100%;
  }
}

.site-header__dropdown-flag-name {
  margin-bottom: 5px;
  font-weight: 500;

}
.site-header__dropdown-flag-role {
  color: $color-light;
}

// .site-header__dropdown-body {

// }

.site-header__dropdown-footer {
  margin-left: -20px;
  margin-right: -20px;

  .button--block {
    border-radius: 0 0 $global-radius-sm $global-radius-sm;
    font-size: 14px;
  }
}

.notif-list {

  > *:not(:last-child) {
    border-bottom: 1px solid $color-border-light;
  }
}

// .notif-list__item {


// }

.notif-card {

  > * {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// .notif-card__img {

// }

.notif-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: $color-bg-light;

  .notif-card.is-active & {
    background-color: $color-bg-primary;
  }
}

.notif-card__body {
  font-size: 12px;
  line-height: 1.3;
}

.notif-card__msg {
  max-height: calc(12px * 1.3 * 3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.notif-card__msg-name {
  font-weight: 500;
}

// .notif-card__msg-text {

// }

.notif-card__msg-accent {
  color: $color-primary;
}

.notif-card__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.15;
}

.notif-card__text {
  margin-bottom: 8px;
  color: $color-light;
}

.notif-card__date {
  font-weight: 500;
  line-height: 1;
  color: $color-primary;
}

.user-menu {
  padding-top: 15px;
  padding-bottom: 15px;

  &--mobile {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-border-light;
  }

}

.user-menu__item {

  &--single {
    padding-top: 12px;
    padding-bottom: 20px;
  }
}

.user-menu__link {
  position: relative;
  display: flex;
  padding: 8px 0 8px 20px;
  font-size: 14px;
  line-height: 1.1;
  color: $grey-5;
  @include basic-transition((color));
  @include on-event {
    color: $color-primary;
  }

  .user-menu--mobile & {
    font-size: 15px;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 11px;
    color: $color-light;

    .mobile-nav__body & {
      font-size: 12px;
    }
  }
}

.user-menu__counter {
  margin-left: auto;
  font-weight: 500;
  color: $color-primary;
}




/* #MOBILE-NAV
   ========================================================================== */

.mobile-nav {
  z-index: 10;

  @include mq($from: md) {
    display: none;
  }

  &.is-closed {
    visibility: hidden;
  }

  &.is-open {
    visibility: visible;
  }
}

.mobile-nav__overlay,
.mobile-nav__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-nav__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .mobile-nav.is-closed & {
    opacity: 0;
    transform: translateX(-150%);
    transition: transform 0ms ease-out .3s, opacity .3s linear;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    transition: opacity .3s linear;
  }
}

.mobile-nav__content {
  width: 280px;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  z-index: 2;

  .mobile-nav.is-closed & {
    transform: translateX(-150%);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.05);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__inner {
  position: relative;

  .mobile-nav.is-closed & {
    transform: translateX(-30px);
    transition: transform .25s ease-out;
  }

  .mobile-nav.is-open & {
    transform: translateX(0);
    transition: transform .4s ease-out;
  }
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 10px 0 10px 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border-light;
}

.mobile-nav__logo {
  color: $color-primary;

  .logo {
    font-size: 24px;
  }
}

.mobile-nav .button-close {
  font-size: 14px;
  color: $color-primary;
}


.mobile-nav__body {
  padding: 1rem 2rem 1rem 1rem;
  font-size: 15px;

  >*:not(:last-child) {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-bg-light;
    }
  }
}

.mobile-menu a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.mobile-user {
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border-light;

  > * {
    padding-bottom: 20px;
  }
}

.mobile-user__body {
  line-height: 1.3;
}

.mobile-user__name {
  font-size: 15px;
}

.mobile-user__role {
  font-size: 14px;
  color: $color-light;
}
