/* ==========================================================================
   #BUTTONS
   ========================================================================== */

// $btn-min-width: 10ch;
// $btn-min-height: 50px;
$btn-padding: 15px 30px;
$btn-padding-lg: 0.25rem 2rem;
$btn-padding-sm: 10px 20px;
$btn-border-radius: $global-radius;
$btn-font-weight: 600;
$btn-font-size: rem(16px);
$btn-font-size-sm: rem(14px);
$btn-line-height: 1.15;

.button {
  display: inline-block;
  // align-items: center;
  // justify-content: center;
  vertical-align: baseline;

  // min-width: $btn-min-width;
  // min-height: $btn-min-height;
  padding: $btn-padding;
  border: 1px solid transparent;
  border-radius: $btn-border-radius;

  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  text-align: center;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  @include basic-transition(all);

  // @include mq($from: md) {
  //   min-height: xxx;
  //   padding-left: xxx;
  //   padding-right: xxx;
  //   font-size: xxx;
  // }
}

.button:disabled,
.button.disabled {
  cursor: not-allowed;
}

.button--sm {
  padding: $btn-padding-sm;
  font-size: $btn-font-size-sm;
}

.button--primary {
  color: #fff;
  background-color: $color-bg-primary;

  @include on-event {
    background-color: $color-hover-primary;
  }
}

.button--light {
  color: $color-light;
  background-color: $grey-1;

  @include on-event {
    color: #fff;
    background-color: $color-bg-primary;
  }
}

.button--outline-secondary {
  border-color: $grey-3;
  color: $grey-5;

  @include on-event {
    border-color: currentColor;
    color: $color-hover-primary;
  }
}

.button--outline-light {
  border-color: $color-border-light;
  color: #767D83;

  @include on-event {
    border-color: currentColor;
    color: $color-hover-primary;
  }
}

.button-icon {
  position: relative;
  width: 46px;
  height: 46px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: $global-radius-sm;
  cursor: pointer;

  .icon {
    @include center-block;
  }
}

.button-edit,
.button-delete {
  width: 30px;
  height: 30px;
  border-color: $color-border-light;
  font-size: 13px;
  color: $color-primary;
  @include basic-transition((color, background-color));
  @include on-event {
    color: #fff;
    background-color: $color-bg-primary;
  }
}

.text-button {
  font-weight: 500;
  font-size: rem(16px);
  line-height: 1;
  cursor: pointer;
  @include basic-transition((color));

  &--primary {
    color: $color-primary;

    @include on-event {
      color: $color-body;
    }
  }

  @include mq($from: sm) {
    font-size: rem(18px);
  }
}

.button-reset {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 15px;
  color: $color-light;
  cursor: pointer;

  &.is-active {
    visibility: hidden;
    pointer-events: none;
  }
}

.button-opts {

  @include basic-transition((color));
  @include on-event {
    color: $color-primary;
  }
}

.button--block {
  width: 100%;
}

.button--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-group {
  margin-left: -6px;
  margin-right: -6px;

  > * {
    margin: 6px;
  }
}

.button-group--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
