/* ==========================================================================
   #SETTINGS-FORM
   ========================================================================== */

.settings-form {

  > *:not(:last-child) {
    margin-bottom: 50px;
  }
}

.settings-form__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  gap: 50px;

  @include mq($from: md) {
    grid-template-columns: 1fr 380px;
  }
}

.settings-form__main {

  > *:not(:last-child) {
    margin-bottom: 50px;
  }
}

.settings-form__aside {

  > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

.general-info__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 80px;
  column-gap: 80px;
  grid-row-gap: 30px;
  row-gap: 30px;

  @include mq($from: md) {
    grid-template-columns: 1fr 210px;
  }
}

.general-info__main {

  > *:not(:last-child) {
    margin-bottom: 30px;
  }

  .settings-form--login & {
    max-width: 800px;
  }
}

.general-info__aside {
  order: -1;

  @include mq($from: md) {
    order: 0;
    padding-right: 40px;
  }
}

.settings-form > .ibox {

  p:not([class]) {
    color: $color-light;
  }

  .ibox-header {

    @include mq($from: xs) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .ibox-body {
    padding: 24px 16px;

    @include mq($from: xs) {
      padding: 40px 40px 50px 40px;
    }
  }
}

.settings-form {

  .d-flex--2-cols {
    margin-top: -25px;

    @include mq($from: xs) {
      margin-top: -30px;
    }

    > * {
      width: 100%;
      max-width: 350px;
      margin-top: 25px;

      @include mq($from: xs) {
        margin-top: 30px;
      }
    }
  }

  .inputbox-group__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .inputbox__wrapper {
      width: 100%;
      max-width: 150px;
    }

    > span {
      margin: 8px;
    }
  }

  .inputbox__label {
    margin-bottom: 10px;
    color: $color-light;

    @include mq($from: xs) {
      margin-bottom: 15px;
    }
  }

  .input {
    padding-left: 20px;
  }

  .input--date,
  .input--time {
    max-width: 150px;
  }

  .input--date-full-width {
    max-width: none;
  }
}

.settings-form__title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: rem(22px);
  line-height: 1.15;

  &:not(:first-child) {
    margin-top: 40px;
  }
}

.settings-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-avatar__photo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  cursor: pointer;

  @include mq($from: xs) {
    width: 170px;
    height: 170px;
  }

  &.user-photo--no-photo {

    .user-photo__img {
      background-color: $grey-1;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15C19.1437 15 22.5 11.6438 22.5 7.5C22.5 3.35625 19.1437 0 15 0C10.8562 0 7.5 3.35625 7.5 7.5C7.5 11.6438 10.8562 15 15 15ZM15 18.75C9.99375 18.75 0 21.2625 0 26.25V30H30V26.25C30 21.2625 20.0063 18.75 15 18.75Z' fill='%23DDE2E5'/%3E%3C/svg%3E%0A");
      background-position: left 50% bottom 0;
      background-size: 70.5% auto;
    }
  }
}

.settings-avatar__label {
  color: $color-primary;
  text-decoration: underline;
  cursor: pointer;

  @include on-event {
    text-decoration: none;
  }
}

.experience-box {

  > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

.experience-list {

  > * + * {
    margin-top: 6px;
  }
}

.experience-card {
  display: flex;
  border: 1px solid $color-border-light;
  border-radius: $global-radius;
}

.experience-card__hand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 15px;
  border-right: 1px solid $color-border-light;
  font-size: 10px;
  cursor: move;

  @include basic-transition((color));
  @include on-event {
    outline-width: 0;
    color: $color-primary;
  }
}

.experience-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px 15px;

  @include mq($from: xs) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include mq($from: sm) {
    flex-direction: row;
  }
}

.experience-card__content {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 20px;

  @include mq($from: sm) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.experience-card__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
}

.experience-card__subtitle {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.experience-card__text {
  max-width: 520px;
  font-size: 14px;
  line-height: 1.4;
  color: $color-light;

  p + p {
    margin-top: 8px;
  }
}

.experience-card__actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @include mq($until: sm) {
    align-self: flex-end;
  }

  > * + * {
    margin-left: 10px;

  }
}

.days-list {
  display: flex;

  @include mq($until: xs) {
    flex-wrap: wrap;
  }

  > * {
    margin: 2px;
  }
}

.days-list__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: $global-radius;
  line-height: 1;
  color: $color-light;
  background-color: $grey-1;
  cursor: pointer;

  @include basic-transition((background-color, color));
  @include on-event {
    background-color: #FFF7F1;
  }

  @include mq($from: xs) {

  }
}

.days-list__item :checked ~ .days-list__item-text {
  color: $color-body;
  background-color: #FFF7F1;
}

.cost-settings {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;

  @include mq($from: md) {
    margin-right: -32px;
  }
}

.cost-settings__item {
  display: flex;
  width: 100%;
  margin-top: 20px;

  @include mq($from: md) {
    max-width: calc(50% - 32px);
    margin-right: 32px;
  }

  > * + * {
    margin-left: 15px;
  }

  .inputbox:first-child {
    flex-grow: 1;
    flex-basis: 0;
  }
  .inputbox:last-child {
    flex-shrink: 0;
    width: 100px;
  }

  .button {
    max-width: 350px;
  }
}

.pass-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.settings-box__head {
  margin-bottom: 30px;

  @include mq($from: sm) {
    margin-bottom: 40px;
  }

  &--row {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 12px;
    row-gap: 12px;
    justify-content: space-between;
    align-items: end;

    @include mq($from: sm) {
      grid-template-columns: minmax(280px, auto) auto;
    }

    .settings-title {
      margin-bottom: 0;
    }
  }
}

.settings-title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: rem(24px);
  line-height: 1.15;

  @include mq($from: sm) {
    margin-bottom: 45px;
    font-size: rem(28px);
  }
}

.settings-title__step {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  padding: 7px 10px;
  border-radius: $global-radius;
  font-weight: bold;
  font-size: rem(13px);
  line-height: 1.12;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: $color-bg-primary;
}

.settings-box__content {
  width: 100%;
  max-width: 800px;

  &--full-width {
    max-width: none;
  }

  > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

.settings-map {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.quick-registration {
  display: none;
  margin-top: 50px;
  padding: 30px 20px;
  border-radius: $global-radius;

  @include mq($from: sm) {
    margin-top: 70px;
    padding: 30px;
  }

  @include mq($from: md) {
    margin-top: 100px;
  }

  &.is-active {
    display: block;
  }
}

.quick-registration__settings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: auto;
  align-items: end;
  grid-column-gap: 15px;
  column-gap: 15px;
  grid-row-gap: 25px;
  row-gap: 25px;

  @include mq($from: sm) {
    grid-row-gap: 30px;
    row-gap: 30px;
  }
}

