/* ==========================================================================
   #ibox
   ========================================================================== */

.ibox {
  background: #FFFFFF;
  box-shadow: $global-shadow;
  border-radius: $global-radius;
}

.ibox-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDF4F9;

  .ibox--sm & {

    @include mq($from: xs) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .ibox--md & {

    @include mq($from: xs) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .ibox--lg & {
    @include mq($from: xs) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.ibox-header__title {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  line-height: 1.3;
}

.ibox-header__title-icon {
  position: relative;
  top: 2px;
  margin-right: 10px;
  color: $color-primary;
}

// .ibox-header__title-text {

// }

.ibox-header__title-counter {
  margin-left: 4px;
  color: $color-primary;
}

.ibox-header__action {
  font-size: 1rem;
  line-height: 1.15;
  color: $color-light;
  @include basic-transition((color));
  @include on-event {
    color: $color-body;
  }

  &.select {
    width: auto;
  }
}

// .ibox-header__reset {

// }

.ibox-body {

  .ibox--sm &,
  .ibox--md &,
  .ibox--lg & {
    padding: 24px 20px;
  }

  .ibox--md & {

    @include mq($from: xs) {
      padding: 30px;
    }
  }

  .ibox--lg & {

    @include mq($from: xs) {
      padding: 40px;
    }
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .button--block + .button--block {
    margin-top: 15px;
  }
}

.ibox-more {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
