/* ==========================================================================
   #CIRCLE-PROGRESS
   ========================================================================== */

.circle-progress {
  transform: rotate(-90deg);
}

.circle-progress__back {
  fill: none;
  stroke: #EEF1F2;
  stroke-width: 3;
}

.circle-progress__current {
  fill: none;
  stroke: $color-primary;
  stroke-width: 3;
  stroke-linecap: round;
}
