/* ==========================================================================
   #NOTIF-LIST
   ========================================================================== */

.notif-list {

  > *:not(:last-child) {
    border-bottom: 1px solid $color-border-light;
  }
}

// .notif-list__item {


// }

.notif-card {
  display: flex;
  align-items: flex-start;
  width: 100%;

  > * {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.notif-card__img {
  flex-shrink: 0;
  padding-right: 15px;

  > img {
    max-width: none;
  }
}

.notif-card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
  min-width: 0;
  font-size: 14px;
  line-height: 1.3;

  &,
  > :last-child {
    margin-bottom: 0;
  }

  .notif-card--sm & {
    font-size: 12px;
  }
}

.notif-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  background-color: $color-bg-light;

  @include mq($from: xs) {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .notif-card--sm & {

    @include mq($from: xs) {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }

  .notif-card.is-active & {
    background-color: $color-bg-primary;
  }

}

.notif-card__top-row {
  display: flex;
  align-items: baseline;

  > * {
    min-width: 0;
  }
}

.notif-card--user {
  cursor: pointer;
  @include basic-transition((background-color));
  @include on-event {
    outline-width: 0;
    background-color: #F8F9FA;
  }

  &.is-active {
    background-color: #F8F9FA;
  }

  .user-photo {
    width: 51px;
    height: 51px;
  }

  .notif-card__name,
  .notif-card__date,
  .notif-card__text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .notif-card__name {
    flex-grow: 1;
    margin: 0;
  }

  .notif-card__date {
    flex-shrink: 0;
    max-width: 100%;
    margin-left: 6px;
    font-size: 12px;
  }

  .notif-card__text {
    position: relative;
    max-width: 100%;
    margin-top: 10px;
  }
}

.notif-card__msg {
  max-height: calc(14px * 1.3 * 3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  .notif-card--sm & {
    max-height: calc(12px * 1.3 * 3);
  }
}

.notif-card__msg-name {
  font-weight: 500;
}

// .notif-card__msg-text {

// }

.notif-card__msg-accent {
  color: $color-primary;
}

.notif-card__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;

  .notif-card--sm & {
    font-size: 13px;
  }
}

.notif-card__text {
  margin-bottom: 8px;
  color: $color-light;
}

.notif-card__date {
  font-weight: 500;
  line-height: 1;
  // color: $color-primary;
  color: $color-light;
}
