/* ==========================================================================
   #EMBED
   ========================================================================== */

.embed {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
  }

  &--std {
    &::after {

      padding-top: percentage(9 / 16);
    }
  }

  &--square,
  &--rounded {
    &::after {

      padding-top: 100%;
    }
  }

  &--4-3 {
    &::after {

      padding-top: percentage(3 / 4);
    }
  }

  &--2-1 {
    &::after {
      padding-top: percentage(1 / 2);
    }
  }
}

.embed--rounded {
  border-radius: 50%;

  .embed__inner {
    border-radius: inherit;
  }
}

.embed__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &--bg {
    background-color: #efefef;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 15%;

    &.is-loaded {
      background-color: transparent;
      background-size: 0;
    }
  }

  img,
  iframe,
  video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  iframe {
    background-color: #000;
  }

  img {
    object-fit: cover;
    object-position: center;
  }
}


.video {
  background-color: #000;
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__link::before {
  @include pseudo(true);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

.video__button {
  display: none;
  position: absolute;
  // top: 50%;
  // left: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 90px;
  color: #fff;
  line-height: 0;
  background-image: linear-gradient(75deg, rgba(33, 36, 41, 0.9), rgba(33, 36, 41, 0.6));
  cursor: pointer;
  z-index: 2;

  .icon {
    @include center-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $color-border-primary;
    @include basic-transition(color);

    svg {
      margin-right: -5px;
      width: 24px;
    }
  }
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button,
.video__button:focus .video__button {
  color: $color-primary;
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}
