/* ==========================================================================
   #ACCORDION
   ========================================================================== */

.accordion__content {
  display: none;

  &.is-active {
    display: block;
  }
}

.accordion__title {
  position: relative;
}

.accordion__button {
  position: relative;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.accordion__button-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  @include basic-transition((color, transform));

  .accordion__button.is-active & {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.accordion--general {
  padding-bottom: 50px;

  .accordion__item {
    border-bottom: 0.5px solid $color-border-light;

    &:first-child {
      border-top: 0.5px solid $color-border-light;
    }
  }

  .accordion__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    @include mq($from: sm) {
      font-size: 22px;
    }
  }

  .accordion__button {
    padding: 35px;

    @include mq($from: sm) {
      padding-left: 125px;
    }
  }

  .accordion__button-count {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
  }

  .accordion__button-icon {
    transform: translateY(-50%) rotate(-45deg);
    font-size: 16px;
    color: $grey-2;
  }

  .accordion__button.is-active {

    .accordion__button-icon {
      color: $color-primary;
      transform: translateY(-50%);
    }

    .accordion__button-text {
      color: $color-primary;
    }
  }

  .accordion__body {
    font-weight: 500;

    @include mq($from: sm) {
      padding-left: 125px;
    }
  }
}
