/* ==========================================================================
   #LAZY
   ========================================================================== */

.lozad,
.lazy {
  opacity: 0;
  transition: .4s ease;
  will-change: opacity;

  &[data-loaded=true],
  &.is-loaded {
    opacity: 1;
  }
}
