.section
  .container
    h1.page-title Правила сервиса

    .content-zone.content-zone--narrow
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet venenatis urna cursus eget nunc. Senectus et netus et malesuada. Etiam erat velit scelerisque in. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Felis eget nunc lobortis mattis aliquam. Mauris nunc congue nisi vitae suscipit tellus. Facilisi morbi tempus iaculis urna id volutpat lacus. Sed viverra ipsum nunc aliquet bibendum. Odio euismod lacinia at quis risus sed vulputate. Sed ullamcorper morbi tincidunt ornare massa eget. Proin fermentum leo vel orci porta non pulvinar neque. Amet massa vitae tortor condimentum.

      h2 Pharetra vel turpis

      p nunc eget lorem dolor sed viverra. Commodo odio aenean sed adipiscing diam donec adipiscing. Aliquet enim tortor at auctor urna nunc id. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Cras pulvinar mattis nunc sed blandit libero volutpat. Aliquam vestibulum morbi blandit cursus risus at ultrices. Turpis egestas integer eget aliquet nibh praesent tristique magna sit. Sit amet est placerat in egestas erat imperdiet sed euismod. Metus vulputate eu scelerisque felis imperdiet. Tortor condimentum lacinia quis vel eros donec ac odio. Lacus vel facilisis volutpat est velit egestas dui. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Eu volutpat odio facilisis mauris sit amet massa. Pretium aenean pharetra magna ac placerat vestibulum lectus. Diam donec adipiscing tristique risus nec feugiat. Pretium lectus quam id leo in vitae turpis massa sed. Orci sagittis eu volutpat odio facilisis.

      h2 Scelerisque eleifend donec

      p pretium vulputate sapien nec sagittis aliquam malesuada. Ultrices tincidunt arcu non sodales neque sodales ut. Lacus vel facilisis volutpat est velit egestas dui id ornare. Pulvinar elementum integer enim neque volutpat. Cras tincidunt lobortis feugiat vivamus at augue eget arcu. Mattis molestie a iaculis at erat. Tristique et egestas quis ipsum suspendisse ultrices gravida. Quam quisque id diam vel. Senectus et netus et malesuada fames ac turpis. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Amet venenatis urna cursus eget nunc. Diam phasellus vestibulum lorem sed risus. Massa eget egestas purus viverra accumsan in.

      h2 Tristique senectus et netus

      p et malesuada. Arcu felis bibendum ut tristique et egestas. Netus et malesuada fames ac. Egestas diam in arcu cursus euismod quis. Volutpat est velit egestas dui. Consequat semper viverra nam libero justo laoreet. Convallis posuere morbi leo urna molestie at elementum eu. In nisl nisi scelerisque eu ultrices vitae auctor eu. Amet facilisis magna etiam tempor orci. Malesuada bibendum arcu vitae elementum curabitur vitae nunc. Id volutpat lacus laoreet non curabitur gravida. Vitae et leo duis ut diam. In ornare quam viverra orci sagittis eu volutpat. Volutpat lacus laoreet non curabitur gravida arcu. Facilisi etiam dignissim diam quis enim. Eros donec ac odio tempor orci. Massa tincidunt nunc pulvinar sapien.

      h2 Faucibus et molestie ac feugiat sed.

      p Massa tincidunt dui ut ornare lectus sit amet est. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Blandit turpis cursus in hac habitasse platea. Blandit turpis cursus in hac habitasse platea dictumst. Nec ultrices dui sapien eget mi proin. Adipiscing enim eu turpis egestas pretium. Enim tortor at auctor urna nunc id cursus. Molestie at elementum eu facilisis sed odio morbi quis commodo. Laoreet id donec ultrices tincidunt arcu non sodales neque. Quam lacus suspendisse faucibus interdum posuere lorem. Quam quisque id diam vel quam elementum pulvinar etiam non. Ullamcorper sit amet risus nullam eget.
