
.awards-wrapper
  .awards-grid
    .awards-main
        h3.dashboard-main__title Достижения

        ul.awards-list
          li.awards-list__item.is-active
            .awards-list__item-icon
              <svg class="awards-list__item-svg" width="60" height="60" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><path d="m17.5 0c-0.604 0-1.09 0.49-1.09 1.09v1.88c-7.17 0.536-12.9 6.27-13.4 13.4h-1.88c-0.604 0-1.09 0.49-1.09 1.09 0 0.604 0.49 1.09 1.09 1.09h1.88c0.536 7.17 6.27 12.9 13.4 13.4v1.88c0 0.604 0.49 1.09 1.09 1.09 0.604 0 1.09-0.49 1.09-1.09v-1.88c7.17-0.536 12.9-6.27 13.4-13.4h1.88c0.604 0 1.09-0.49 1.09-1.09 0-0.604-0.49-1.09-1.09-1.09h-1.88c-0.536-7.17-6.27-12.9-13.4-13.4v-1.88c0-0.604-0.49-1.09-1.09-1.09zm-1.09 5.16v0.213c0 0.604 0.49 1.09 1.09 1.09 0.604 0 1.09-0.49 1.09-1.09v-0.213c5.96 0.525 10.7 5.28 11.2 11.2h-0.213c-0.604 0-1.1 0.49-1.1 1.09 0 0.604 0.492 1.09 1.1 1.09h0.213c-0.525 5.96-5.28 10.7-11.2 11.2v-0.213c0-0.604-0.49-1.09-1.09-1.09-0.604 0-1.09 0.49-1.09 1.09v0.213c-5.96-0.525-10.7-5.28-11.2-11.2h0.213c0.604 0 1.09-0.49 1.09-1.09 0-0.604-0.49-1.09-1.09-1.09h-0.213c0.525-5.96 5.28-10.7 11.2-11.2zm6.49 7.24c-0.279 0.0197-0.55 0.147-0.748 0.375l-6.19 7.13-3.15-3.17c-0.424-0.427-1.12-0.432-1.55-0.00586-0.429 0.426-0.432 1.12-0.00586 1.55l3.98 4.01c0.204 0.207 0.485 0.322 0.775 0.322 0.0102 0 0.0245 9.47e-4 0.0391-0.00195 0.303-0.0102 0.589-0.148 0.789-0.377l6.96-8.02c0.397-0.456 0.347-1.15-0.109-1.54-0.228-0.198-0.515-0.285-0.795-0.266z" fill="currentColor"></path></svg>

            .awards-list__item-body
              h5.awards-list__item-title
                | Новый пользователь
              p.awards-list__item-text
                | Первая покупка - первый шаг в обеспечении безопасности себя и близких от некачественных товаров.
              .awards-list__item-progress
                .awards-list__item-bar
                  .awards-list__item-bar-inner(style={"width": "30%"})
                span.awards-list__item-counter 3 / 10

          li.awards-list__item
            .awards-list__item-icon
              <svg class="awards-list__item-svg" width="60" height="60" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg"><path d="m17.5 0c-0.604 0-1.09 0.49-1.09 1.09v1.88c-7.17 0.536-12.9 6.27-13.4 13.4h-1.88c-0.604 0-1.09 0.49-1.09 1.09 0 0.604 0.49 1.09 1.09 1.09h1.88c0.536 7.17 6.27 12.9 13.4 13.4v1.88c0 0.604 0.49 1.09 1.09 1.09 0.604 0 1.09-0.49 1.09-1.09v-1.88c7.17-0.536 12.9-6.27 13.4-13.4h1.88c0.604 0 1.09-0.49 1.09-1.09 0-0.604-0.49-1.09-1.09-1.09h-1.88c-0.536-7.17-6.27-12.9-13.4-13.4v-1.88c0-0.604-0.49-1.09-1.09-1.09zm-1.09 5.16v0.213c0 0.604 0.49 1.09 1.09 1.09 0.604 0 1.09-0.49 1.09-1.09v-0.213c5.96 0.525 10.7 5.28 11.2 11.2h-0.213c-0.604 0-1.1 0.49-1.1 1.09 0 0.604 0.492 1.09 1.1 1.09h0.213c-0.525 5.96-5.28 10.7-11.2 11.2v-0.213c0-0.604-0.49-1.09-1.09-1.09-0.604 0-1.09 0.49-1.09 1.09v0.213c-5.96-0.525-10.7-5.28-11.2-11.2h0.213c0.604 0 1.09-0.49 1.09-1.09 0-0.604-0.49-1.09-1.09-1.09h-0.213c0.525-5.96 5.28-10.7 11.2-11.2zm1.09 5.05c-1.61 0-2.92 1.31-2.92 2.92 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92 0-1.61-1.31-2.92-2.92-2.92zm0 2.19c0.401 0 0.73 0.326 0.73 0.729s-0.329 0.729-0.73 0.729c-0.401 0-0.729-0.326-0.729-0.729s0.328-0.729 0.729-0.729zm-1.82 5.83c-2.21 0-4.01 1.8-4.01 4.01v1.46c0 0.604 0.49 1.09 1.09 1.09 0.604 0 1.09-0.49 1.09-1.09v-1.46c0-1 0.817-1.82 1.82-1.82h3.65c1 0 1.82 0.819 1.82 1.82v1.46c0 0.604 0.49 1.09 1.09 1.09 0.604 0 1.09-0.49 1.09-1.09v-1.46c0-2.21-1.8-4.01-4.01-4.01h-3.65z" fill="currentColor"></path></svg>

            .awards-list__item-body
              h5.awards-list__item-title
                | Пора работать
              p.awards-list__item-text
                | Откликнитесь на первое задание. Ответ клиента не важен, главное активность!
              .awards-list__item-progress
                .awards-list__item-bar
                  .awards-list__item-bar-inner(style={"width": "100%"})
                span.awards-list__item-counter 10 / 10

          li.awards-list__item
            .awards-list__item-icon
              <svg class="awards-list__item-svg" width="60" height="60" viewBox="0 0 30 25" xmlns="http://www.w3.org/2000/svg"><path d="m12.2 0c-1.21 0-2.19 0.981-2.19 2.19v1.56h-6.56c-1.9 0-3.44 1.54-3.44 3.44v5 9.38c0 1.9 1.54 3.44 3.44 3.44h23.1c1.9 0 3.44-1.54 3.44-3.44v-9.38-5c0-1.9-1.54-3.44-3.44-3.44h-6.56v-1.56c0-1.21-0.981-2.19-2.19-2.19h-5.62zm0 1.88h5.62c0.172 0 0.312 0.14 0.312 0.312v1.56h-6.25v-1.56c0-0.172 0.14-0.312 0.312-0.312zm-8.75 3.75h7.5 8.12 7.5c0.861 0 1.56 0.701 1.56 1.56v4.06h-9.38v-0.312c0-1.21-0.981-2.19-2.19-2.19h-3.12c-1.21 0-2.19 0.981-2.19 2.19v0.312h-9.38v-4.06c0-0.861 0.701-1.56 1.56-1.56zm10 5h3.12c0.172 0 0.312 0.14 0.312 0.312v3.12c0 0.172-0.14 0.312-0.312 0.312h-3.12c-0.172 0-0.312-0.14-0.312-0.312v-3.12c0-0.172 0.14-0.312 0.312-0.312zm-11.6 2.5h9.38v0.938c0 1.21 0.981 2.19 2.19 2.19h3.12c1.21 0 2.19-0.981 2.19-2.19v-0.938h9.38v8.44c0 0.861-0.701 1.56-1.56 1.56h-23.1c-0.861 0-1.56-0.701-1.56-1.56v-8.44z" fill="currentColor"></path></svg>

            .awards-list__item-body
              h5.awards-list__item-title
                | Трудоголик
              p.awards-list__item-text
                | Откликнитесь одновременно на 10 карточек.  Ответ клиента не важен, главное активность!
              .awards-list__item-progress
                .awards-list__item-bar
                  .awards-list__item-bar-inner(style={"width": "80%"})
                span.awards-list__item-counter 8 / 10

          li.awards-list__item
            .awards-list__item-icon
              <svg class="awards-list__item-svg" width="53" height="53" viewBox="0 0 53 53" xmlns="http://www.w3.org/2000/svg"><path d="m6.07 0c-3.63-0.111-6.53 3.45-6.07 6.97 0.0207 9.84-0.0416 19.7 0.0314 29.5 0.251 3.4 3.64 5.85 6.94 5.45 0.818 0.102 2.29-0.451 1.86 0.899 0.046 2.99-0.0935 5.99 0.0727 8.97 0.781 2.08 2.94 0.899 3.82-0.376 3.17-3.16 6.33-6.33 9.5-9.49 8.44-0.0207 16.9 0.0415 25.3-0.0314 3.4-0.251 5.85-3.65 5.45-6.94-0.0207-9.84 0.0416-19.7-0.0314-29.5-0.251-3.4-3.65-5.85-6.94-5.45h-40zm0 3.31h40.9c2.41-0.0481 2.98 2.5 2.76 4.41v28.2c0.0483 2.41-2.5 2.99-4.41 2.76-8.02 0.0213-16.1-0.0425-24.1 0.0319-1.5 0.712-2.46 2.23-3.71 3.31l-5.35 5.35c-0.0215-2.46 0.0436-4.92-0.0337-7.37-0.472-1.85-2.62-1.21-4.02-1.32-1.66 0.0224-3.83 0.229-4.56-1.69-0.441-2.31-0.119-4.72-0.217-7.07v-23.8c-0.0325-1.48 1.28-2.79 2.76-2.76zm20.7 3.33c-2.94 0.0501-3.88 3.41-3.81 5.85-0.729 2.26-2.74 4.15-5.07 2.94-2.42-0.381-4.93 1.62-4.67 4.17 0.0484 3.47-0.0994 6.95 0.0787 10.4 0.389 2.27 2.78 3.38 4.89 3.09 2.32 0.0729 3.2-2.83 5.46-1.01 3.39 0.899 7 1.32 10.5 0.792 3.15-0.715 4.46-3.9 4.76-6.76 0.501-2.81 1.72-6.12-0.512-8.55-1.74-2.37-4.78-2.18-7.38-2.14-0.219-1.53 0.402-4.38-0.77-6.21-0.641-1.33-1.88-2.57-3.45-2.58zm-0.129 3.29c1.79 1.92 1.06 4.97 0.0226 7.07-0.0227 2.01 2.22 1.76 3.6 1.74 1.8 0.167 3.87-0.491 5.38 0.743 1.68 2.41-0.293 5.49-0.464 8.16-0.457 2.46-3.29 2.21-5.18 2.11-2.73-0.137-5.51-0.584-7.96-1.85-0.0363-3.07 0.0744-6.14-0.0586-9.2 2.7-1.76 4.63-4.72 4.47-8.02 0.0232-0.262 0.201-0.492 0.186-0.76zm-9.56 8.81c1.16-0.311 1.98 0.408 1.66 1.6-0.0298 3.03 0.0593 6.08-0.0441 9.1-0.631 0.68-2.59 0.517-2.16-0.813 0.0293-3.18-0.0584-6.38 0.0435-9.55 0.0825-0.201 0.292-0.341 0.509-0.338z" fill="currentColor"/></svg>


            .awards-list__item-body
              h5.awards-list__item-title
                | Первый отзыв
              p.awards-list__item-text
                | Отзывы формируют правильный рейтинг специалистам и помогают клиентам выбирать более квалифицированных профи.
              .awards-list__item-progress
                .awards-list__item-bar
                  .awards-list__item-bar-inner(style={"width": "50%"})
                span.awards-list__item-counter 5 / 10

    .awards-aside
      .ibox.ibox--sm
        .ibox-header
          .ibox-header__title
            +icon( 'flash-o' ).ibox-header__title-icon
            span.ibox-header__title-text Прогресс
            span.tooltipped.text-light.ml-1.js-tippy(
              tabindex="0"
              data-tippy-content="Показывает текущее положение до следующего звания"
            )
              +icon('question-circle-o')

        .ibox-body
          .awards-widget
            .awards-widget__progress-wrapper
              svg.awards-widget__progress.circle-progress.js-circle-progress(viewBox='0 0 156 156' data-progress-value='76')
                circle.circle-progress__back(cx='78' cy='78' r='76')
                circle.circle-progress__current(cx='78' cy='78' r='76')
              .awards-widget__icon
                <svg class="awards-widget__icon-svg" width="58" height="48" viewBox="0 0 30 25" xmlns="http://www.w3.org/2000/svg"><path d="m12.2 0c-1.21 0-2.19 0.981-2.19 2.19v1.56h-6.56c-1.9 0-3.44 1.54-3.44 3.44v5 9.38c0 1.9 1.54 3.44 3.44 3.44h23.1c1.9 0 3.44-1.54 3.44-3.44v-9.38-5c0-1.9-1.54-3.44-3.44-3.44h-6.56v-1.56c0-1.21-0.981-2.19-2.19-2.19h-5.62zm0 1.88h5.62c0.172 0 0.312 0.14 0.312 0.312v1.56h-6.25v-1.56c0-0.172 0.14-0.312 0.312-0.312zm-8.75 3.75h7.5 8.12 7.5c0.861 0 1.56 0.701 1.56 1.56v4.06h-9.38v-0.312c0-1.21-0.981-2.19-2.19-2.19h-3.12c-1.21 0-2.19 0.981-2.19 2.19v0.312h-9.38v-4.06c0-0.861 0.701-1.56 1.56-1.56zm10 5h3.12c0.172 0 0.312 0.14 0.312 0.312v3.12c0 0.172-0.14 0.312-0.312 0.312h-3.12c-0.172 0-0.312-0.14-0.312-0.312v-3.12c0-0.172 0.14-0.312 0.312-0.312zm-11.6 2.5h9.38v0.938c0 1.21 0.981 2.19 2.19 2.19h3.12c1.21 0 2.19-0.981 2.19-2.19v-0.938h9.38v8.44c0 0.861-0.701 1.56-1.56 1.56h-23.1c-0.861 0-1.56-0.701-1.56-1.56v-8.44z" fill="currentColor"></path></svg>
            span.awards-widget__title
              | Трудоголик
            p.awards-widget__text
              | Откликнитесь одновременно на 10 карточек.#[br]
              | Ответ клиента не важен, главное активность!
