include history.data.pug

.profile__grid.profile__grid--client-profile
  .profile__main
    ul.profile-stat
      li.profile-stat__item
        .profile-stat__card
          span.profile-stat__card-title Создано задач
          .profile-stat__card-row.d-flex.flex-justify-between.flex-items-center
            span.profile-stat__card-amount 100
            .profile-stat__card-icon.profile-stat__card-icon--1
              <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.9088 4.60961L12.1768 20.4453L6.33073 14.5659L8.27483 12.6107L12.1768 16.5349L25.9647 2.66828L27.9088 4.60961ZM14.1209 25.16C8.04043 25.16 3.09058 20.1819 3.09058 14.0667C3.09058 7.95148 8.04043 2.97335 14.1209 2.97335C16.2856 2.97335 18.3124 3.61121 20.0221 4.70668L22.0213 2.69601C19.7739 1.12908 17.0577 0.200012 14.1209 0.200012C6.50998 0.200012 0.333008 6.41228 0.333008 14.0667C0.333008 21.7211 6.50998 27.9333 14.1209 27.9333C16.5062 27.9333 18.7536 27.3232 20.7115 26.2416L18.6433 24.1616C17.2645 24.7995 15.7341 25.16 14.1209 25.16ZM23.7724 18.2267H19.636V21H23.7724V25.16H26.53V21H30.6663V18.2267H26.53V14.0667H23.7724V18.2267Z" fill="#36BD78"/></svg>

      li.profile-stat__item
        .profile-stat__card
          span.profile-stat__card-title Активные задачи
          .profile-stat__card-row.d-flex.flex-justify-between.flex-items-center
            span.profile-stat__card-amount 5
            .profile-stat__card-icon.profile-stat__card-icon--2
              <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.5677 6.04209V3.4877H11.0673V6.04209H16.5677ZM2.81663 8.59648V22.6456H24.8184V8.59648H2.81663ZM24.8184 6.04209C26.3448 6.04209 27.5686 7.17879 27.5686 8.59648V22.6456C27.5686 24.0633 26.3448 25.2 24.8184 25.2H2.81663C1.29025 25.2 0.0664062 24.0633 0.0664062 22.6456L0.0801573 8.59648C0.0801573 7.17879 1.29025 6.04209 2.81663 6.04209H8.31707V3.4877C8.31707 2.07002 9.54092 0.933319 11.0673 0.933319H16.5677C18.0941 0.933319 19.318 2.07002 19.318 3.4877V6.04209H24.8184Z" fill="#FD710F"/></svg>

      li.profile-stat__item
        .profile-stat__card
          span.profile-stat__card-title Оценки
          .profile-stat__card-row.d-flex.flex-justify-between.flex-items-center
            span.profile-stat__card-amount 56
            .profile-stat__card-icon.profile-stat__card-icon--3
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.2464 0.0666809H2.75307C1.27541 0.0666809 0.0664062 1.27568 0.0664062 2.75335V26.9333L5.43974 21.56H24.2464C25.7241 21.56 26.9331 20.351 26.9331 18.8733V2.75335C26.9331 1.27568 25.7241 0.0666809 24.2464 0.0666809ZM24.2464 18.8733H5.43974L2.75307 21.56V2.75335H24.2464V18.8733Z" fill="#EFA80F"/></svg>

      li.profile-stat__item
        .profile-stat__card
          span.profile-stat__card-title Просмотры профиля
          .profile-stat__card-row.d-flex.flex-justify-between.flex-items-center
            span.profile-stat__card-amount 1005
            .profile-stat__card-icon.profile-stat__card-icon--4
              <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.4224 0.400003L23.7302 3.70778L16.6813 10.7567L10.9035 4.97889L0.200195 15.6967L2.23686 17.7333L10.9035 9.06667L16.6813 14.8444L25.7813 5.75889L29.0891 9.06667V0.400003H20.4224Z" fill="#3F54E8"/></svg>

    .ibox.ibox--md
      .ibox-header
        .ibox-header__title
          +icon( 'clock-o' ).ibox-header__title-icon
          span.ibox-header__title-text История заказов
        a.ibox-header__action(href="") Все заказы

      .ibox-body.p-0
        ul.history-list
          each item, index in history
            li.history-list__item
              +history-card(item, index)

            if index > 4
              - break

        a.button.button--primary.button--block.mt-4(href="") Создать новое задание

  .profile__aside
    include ../iboxes/ibox-messages
    include ../iboxes/ibox-notif
