-
  var tabs = [
    {
      text: 'Мой профиль',
      isActive: true,
      hasMsg: false,
    },
    {
      text: 'Информация',
      isActive: false,
      hasMsg: false,
    },
    {
      text: 'Задачи',
      isActive: false,
      hasMsg: false,
    },
    {
      text: 'Сообщения',
      isActive: false,
      hasMsg: true,
    },
    {
      text: 'Уведомления',
      isActive: false,
      hasMsg: true,
    },
    {
      text: 'Достижения',
      isActive: false,
      hasMsg: false,
    },
  ];

.dashboard-top
  ul.user-info
    li.user-info__item
      .user-info__img.user-photo
        .user-photo__inner
          img.user-photo__img(src="assets/img/content/avatars/ava-1-lg.jpg", alt="")

    li.user-info__item
        h1.user-info__person
          span.user-info__person-title Ника Андреева
          span.user-info__person-subtitle Электроника и бытовая техника

    li.user-info__item
      .user-info__balance
        span.user-info__balance-label Мой баланс:
        span.user-info__balance-amount 1 500 ₽

    li.user-info__item

    li.user-info__item
      a.button.button--outline-light(href="") Настройки профиля

  nav.dashboard-nav
    +tabs.dashboard-tabs
      each item, index in tabs
        +tab-item()
          if item.isActive
            +tab-button()(class="is-active" data-tab-target="tab-" + (index + 1))= item.text
          else if item.hasMsg
            +tab-button()(class="has-messages" data-tab-target="tab-" + (index + 1))= item.text
          else
            +tab-button()(data-tab-target="tab-" + (index + 1))= item.text
