.dashboard-top
  ul.dashboard-top__info
    li.dashboard-top__info-item
      .dashboard-user
        .dashboard-top__user-photo
          .user-photo.user-photo--lg
            .user-photo__inner
              img.user-photo__img(src="assets/img/content/avatars/ava-1-lg.jpg", alt="")

        h1.dashboard-top__user-text
          span.dashboard-top__user-name Ника Андреева
          span.dashboard-top__user-about Электроника и бытовая техника

    li.dashboard-top__info-item

    li.dashboard-top__info-item
    li.dashboard-top__info-item
    li.dashboard-top__info-item
  .dashboard-top__nav
