-
  var tabs = [
    {
      text: 'Мой профиль',
      isActive: true,
      hasMsg: false,
    },
    {
      text: 'Информация',
      isActive: false,
      hasMsg: false,
    },
    {
      text: 'Задачи',
      isActive: false,
      hasMsg: false,
    },
    {
      text: 'Сообщения',
      isActive: false,
      hasMsg: true,
    },
    {
      text: 'Уведомления',
      isActive: false,
      hasMsg: true,
    },
    {
      text: 'Достижения',
      isActive: false,
      hasMsg: false,
    },
  ];

.dashboard-top
  ul.user-info
    li.user-info
      .user-info__card
        .user-info__card-img
          .user-photo.user-photo--lg
            .user-photo__inner
              img.user-photo__img(src="assets/img/content/avatars/ava-1-lg.jpg", alt="")

        h1.user-info__card-text
          span.user-info__card-title Ника Андреева
          span.user-info__card-subtitle Электроника и бытовая техника

    li.user-info
      .user-info__balance
        span.user-info__balance-label Мой баланс:
        span.user-info__balance-amount 1 500 ₽

    li.user-info

    li.user-info
      a.button.button--outline-secondary(href="") Настройки профиля

  nav.dashboard-nav
    +tabs
      each item, index in tabs
        +tab-item()
          if item.isActive
            +tab-button()(data-tab-target="tab-" + (index + 1)).is-active
          else if item.hasMsg
            +tab-button()(data-tab-target="tab-" + (index + 1)).has-messages
          else
            +tab-button()(data-tab-target="tab-" + (index + 1))
