-
  var history = [
    {
      num: 1023,
      title: 'iPhone XS max 512 gb Space grey',
      name: 'Дабрыня Никитич',
      active: true,
    },
    {
      num: 50,
      title: 'Mercedes A-classe',
      name: 'Дабрыня Никитич-Попович',
      active: true,
    },
    {
      num: 1023,
      title: 'iPhone XS max 512 gb Space grey iPhone XS max 512 gb Space grey iPhone XS max 512 gb Space grey',
      name: 'Дабрыня Никитич',
      active: false,
    },
    {
      num: 108,
      title: 'Mercedes A-classe',
      name: 'Дабрыня Никитич',
      active: false,
    },
    {
      num: 1023,
      title: 'iPhone XS max 512 gb Space grey',
      name: 'Дабрыня Никитич-Попович',
      active: false,
    },
  ]
