$input-height: 50px;
$input-padding: 0 16px 0 24px;
$input-font-weight: normal;
$input-font-size: rem(16px);
$input-border: 1px solid $color-border-light;
$input-border-radius: $global-radius;
$input-background-color: #fff;

.input {
  position: relative;
  display: block;
  width: 100%;
  height: $input-height;
  min-height: 0;
  padding: $input-padding;
  font-weight: $input-font-weight;
  font-size: $input-font-size;
  line-height: 1;
  border: $input-border;
  border-radius: $input-border-radius;
  background-color: $input-background-color;
  @include basic-transition((border-color));
  @include placeholder-color($color-placeholder);

  &:focus {
    outline-width: 0;
    border-color: $color-border-primary;
  }
}

.textarea {
  @extend .input;

  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 150px;
  resize: vertical;
}

