/* ==========================================================================
   #INPUTFILE
   ========================================================================== */

.inputfile {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  @include on-event {
    outline: none;

    .inputfile__btn {
      color: $color-body;
    }
  }
}

.inputfile__input {
  display: none;
}

.inputfile__btn {
  display: inline-block;
  margin-right: 4px;
  color: $color-primary;

  @include basic-transition((color));
}

.inputfile__content {
  flex-grow: 1;
  flex-basis: 0;
  color: $color-light;
}
