/* ==========================================================================
   #INPUTBOX
   ========================================================================== */

.inputbox {
  display: block;
  position: relative;
}

.inputbox__wrapper {
  position: relative;
}

.inputbox__label {
  display: block;

  &--required {
    &::after {
      content: '*';
      vertical-align: top;
      color: $color-primary;
    }
  }
}
