.ibox.ibox--msg
  .ibox-header
    .ibox-header__title
      +icon( 'envelope-o' ).ibox-header__title-icon
      span.ibox-header__title-text Сообщения
      span.ibox-header__title-counter 3
    button.button-reset.ibox-header__reset.js-tippy(data-tippy-content="Отметить все прочитанными")
      +icon('check-square-o')
  .ibox-body
    ul.notif-list
      li.notif-list__item
        .notif-card.notif-card--msg
          .notif-card__img
            .user-photo.online
              .user-photo__inner
                img.user-photo__img(src="assets/img/content/avatars/ava-1.jpg", alt="")

          .notif-card__body
            .notif-card__name Добрыня Никитич
            .notif-card__text Lorem Ipsum является текст - заполнитель обычный
            .notif-card__date 4 часа назад
      li.notif-list__item
        .notif-card.notif-card--msg
          .notif-card__img
            .user-photo.online
              .user-photo__inner
                img.user-photo__img(src="assets/img/content/avatars/ava-1.jpg", alt="")

          .notif-card__body
            .notif-card__name Добрыня Никитич
            .notif-card__text Lorem Ipsum является текст - заполнитель обычный
            .notif-card__date 4 часа назад

      li.notif-list__item
        .notif-card.notif-card--msg
          .notif-card__img
            .user-photo.user-photo--no-photo.offline
              .user-photo__inner
                .user-photo__img

          .notif-card__body
            .notif-card__name Алексей Римский-Корсаков
            .notif-card__text Lorem Ipsum является текст - заполнитель обычный
            .notif-card__date Вчера 12:32


  a.button.button--light.button--block.ibox-more(href="") Все сообщения
