.ibox.ibox--notif
  .ibox-header
    .ibox-header__title
      +icon( 'bell-o' ).ibox-header__title-icon
      span.ibox-header__title-text Уведомления
      span.ibox-header__title-counter 5
    button.button-reset.ibox-header__reset.js-tippy(data-tippy-content="Отметить все прочитанными")
      +icon('check-square-o')
  .ibox-body
    ul.notif-list
      li.notif-list__item
        .notif-card.notif-card--notif.is-active
          .notif-card__img
            .notif-card__icon
              +icon('suitcase-o')
          .notif-card__body
            .notif-card__msg
              span.notif-card__msg-name Добрыня Никитич
              span.notif-card__msg-text выбрал вас в качестве специалиста в задание
              span.notif-card__msg-accent Подобрать iPhone XR

      li.notif-list__item
        .notif-card.notif-card--notif.is-active
          .notif-card__img
            .notif-card__icon
              +icon('comment-o')
          .notif-card__body
            .notif-card__msg
              span.notif-card__msg-name Алёша Попович
              span.notif-card__msg-text оставил о вас комментарий.
              span.notif-card__msg-accent Прочитать комментарий в личном профиле

      li.notif-list__item
        .notif-card.notif-card--notif
          .notif-card__img
            .notif-card__icon
              +icon('suitcase-o')
          .notif-card__body
            .notif-card__msg
              span.notif-card__msg-name Добрыня Никитич
              span.notif-card__msg-text выбрал вас в качестве специалиста в задание
              span.notif-card__msg-accent Подобрать авто Lada

      li.notif-list__item
        .notif-card.notif-card--notif
          .notif-card__img
            .notif-card__icon
              +icon('suitcase-o')
          .notif-card__body
            .notif-card__msg
              span.notif-card__msg-name Добрыня Никитич
              span.notif-card__msg-text выбрал вас в качестве специалиста в задание
              span.notif-card__msg-accent Подобрать авто Lada

    a.button.button--light.button--block.ibox-more(href="") Все уведомления
