/* ==========================================================================
   #TEXT-IMAGE
   ========================================================================== */

.text-image__grid {
  margin-top: -3.5rem;

  @include mq($from: lg) {
    margin-left: -40px;
    margin-right: -40px;

  }

  > * {
    margin-top: 3.5rem;

    @include mq($from: lg) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.text-image__text {
  margin-bottom: 50px;

  a {
    color: $color-primary;
  }
}

.text-image__media {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  .embed {
    border-radius: 10px;

    &::after {
      content: '';
      display: block;
      padding-top: percentage(340 / 584);
    }
  }
}

