.top-banner(style="background-image: url(assets/img/bg/bg-top-banner.jpg);")
  .overlay.overlay--primary.overlay--grid
  .container
    .top-banner__inner
      .top-banner__content
        .top-banner__heading
          h1.top-banner__title <span class="top-banner__title--accent">1 245</span> клиентов ищут нужного специалиста
          p.top-banner__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt

        a.top-banner__link.button.button--primary(href="") Перейти к заданиям

      .top-banner__footer
        .top-banner__table
          .top-banner__table-cell
            span.top-banner__table-value 1,533
            span.top-banner__table-unit Специалиста
          .top-banner__table-cell
            span.top-banner__table-value 1,512
            span.top-banner__table-unit Онлайн-запросов
          .top-banner__table-cell
            span.top-banner__table-value 8,546
            span.top-banner__table-unit Решенных задач

        a.top-banner__help(href="")
          +icon('question-circle-o')
          | Поддержка
