.top-banner.top-banner--general(style="background-image: url(assets/img/bg/bg-top-banner.jpg);")
  .overlay.overlay--primary.overlay--grid
  .container
    .top-banner__inner
      .top-banner__content
        .top-banner__heading
          h1.top-banner__title Мы — Buberu
          p.top-banner__subtitle LLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt

        a.top-banner__link.button.button--primary(href="") Перейти к заданиям

