.section.about
  .container.container--narrow
    .content-zone.about__content
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed viverra ipsum nunc aliquet. Nunc eget lorem dolor sed. Ut sem nulla pharetra diam sit amet nisl suscipit. Lorem donec massa sapien faucibus. Etiam dignissim diam quis enim. Aenean euismod elementum nisi quis eleifend. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Vulputate mi sit amet mauris. Ultrices sagittis orci a scelerisque purus semper eget duis.

      p Sapien faucibus et molestie ac. Nulla facilisi morbi tempus iaculis urna. Id neque aliquam vestibulum morbi blandit cursus. At imperdiet dui accumsan sit amet. Id eu nisl nunc mi. Mi quis hendrerit dolor magna. Varius vel pharetra vel turpis nunc eget lorem. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Nibh mauris cursus mattis molestie a. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Facilisis magna etiam tempor orci eu. Non nisi est sit amet.
