/* ==========================================================================
   #USING-INFO
   ========================================================================== */

.using-info {

  .section__title {
    margin-bottom: 36px;
  }
}

.using-info__list {
  margin-top: -2rem;

  > * {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.using-info__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;

  .grid__col:not(:last-child) & {

    &::before {
      display: none;
      content: '';
      position: absolute;
      top: 36px;
      left: 0;
      width: 110%;
      border-top: 1px dashed $grey-2;
      z-index: -1;
      @include basic-transition((border-color));

      @include mq($from: sm) {
        display: block;
      }
    }
  }

  &:hover {

    &::before {
      border-color: $orange-3 !important;
    }

    .using-info__item-count {
      background-color: $color-bg-primary;
    }

    .using-info__item-link {
      opacity: 1;
      color: $color-primary;
    }
  }
}

.using-info__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border: 14px solid #fff;
  margin-left: -14px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  background-color: $grey-2;
  @include basic-transition((background-color));
}

.using-info__item-title {
  max-width: 335px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: rem(24px);
  line-height: 120%;

  @include mq($from: sm) {
    font-size: rem(28px);
  }
}

.using-info__item-text {
  max-width: 335px;
  margin-bottom: 40px;
  opacity: 0.5;
}

.using-info__item-link {
  margin-top: auto;
  font-weight: 500;
  font-size: rem(18px);
  line-height: 100%;
  opacity: 0.5;
  @include basic-transition(all);
}
