/* ==========================================================================
   #SPECIALISTS
   ========================================================================== */

.specialists {

  .section__header {
    margin-bottom: 36px;
  }
}

// .specialists-slider-wrapper {

// }

// .specialists-slider {

// }

.specialists-slide {
  flex-shrink: 0;

  .card-person {
    height: 100%;
  }
}

.specialists-slider-buttons {

  @include mq($until: lg) {
    display: none;
  }
}

.specialists-slider-pagination {
  margin-top: 24px;
}
