include general-settings

head
  meta(charset="utf-8")
  title= pageTitle || ""
  meta(http-equiv="X-UA-Compatible", content="IE = edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|s)no-js(s|$)/,"$1js$2")})(document,window,0);</script>
  if googlefont
    link(href=googlefont, rel="stylesheet")
  link(href="assets/css/main.css" rel="stylesheet")
  link(href="favicon.ico" rel="shortcut icon")
