include header-dropdowns
include menus.data.pug

header.site-header.site-header--logged(class=(bodyClass === 'home-page') ? 'site-header--transparent' : '')
  include ../site-navline/site-navline-header

  .site-header__main
    .container
      .site-header__main-inner
        .site-header__main-left
          nav.site-header__nav
            button.burger.site-header__burger#burger(aria-label='Меню')
              span.burger__bar

            ul.site-header__menu
              each item in mainMenu
                li.site-header__menu-item
                  a.site-header__menu-link(href="")= item

        .site-header__main-right
          ul.site-header__actions
            li.site-header__actions-item.js-popper-wrapper
              .site-header__action.has-messages.js-popper-trigger(data-popper-event="hover")
                span.hidden-visually Уведомления
                +icon('bell')
              +header-dropdown( 'notif' )

            li.site-header__actions-item.js-popper-wrapper
              .site-header__action.js-popper-trigger(data-popper-event="hover")
                span.hidden-visually Сообщения
                +icon('envelope')
              +header-dropdown( 'msg' )

            li.site-header__actions-item.js-popper-wrapper
              .site-header__user.js-popper-trigger(data-popper-event="hover")
                .user-photo
                  .user-photo__inner
                    img.user-photo__img(src="assets/img/content/avatars/ava-1.jpg", alt="")
              +header-dropdown( 'user' )

