include menus.data.pug


mixin header-dropdown(option)
  .dropdown.dropdown--bottom-right.dropdown--arrow-right.js-popper-content
    .site-header__dropdown(
      class=(option === 'user') ? "site-header__dropdown--sm" : ""
    )
      .site-header__dropdown-header

        if option === 'notif'
          .site-header__dropdown-title Уведомления
            span.site-header__dropdown-counter 3
          .site-header__dropdown-reset.js-tippy(tabindex="0" data-tippy-content="Скрыть уведомления")

        else if option === 'msg'
          .site-header__dropdown-title Сообщения
            span.site-header__dropdown-counter 3
          .site-header__dropdown-reset.js-tippy(tabindex="0" data-tippy-content="Скрыть уведомления")

        else if option === 'user'
          .user-flag.site-header__user-flag
            a.user-flag__img(href="")
              .user-photo
                .user-photo__inner
                  img.user-photo__img(src="assets/img/content/avatars/ava-1.jpg", alt="")
            .user-flag__body
              span.user-flag__title Владимир Тихонов
              span.user-flag__subtitle Заказчик

      .site-header__dropdown-body

          if option === 'notif'
            ul.notif-list
              li.notif-list__item
                .notif-card.notif-card--notif.notif-card--sm.is-active
                  .notif-card__img
                    .notif-card__icon
                      +icon('suitcase-o')
                  .notif-card__body
                    .notif-card__msg
                      span.notif-card__msg-name Добрыня Никитич
                      span.notif-card__msg-text выбрал вас в качестве специалиста в задание
                      a.notif-card__msg-link(href="") Подобрать iPhone XR

              li.notif-list__item
                .notif-card.notif-card--notif.notif-card--sm.is-active
                  .notif-card__img
                    .notif-card__icon
                      +icon('comment-o')
                  .notif-card__body
                    .notif-card__msg
                      span.notif-card__msg-name Алёша Попович
                      span.notif-card__msg-text оставил о вас комментарий.
                      a.notif-card__msg-link(href="") Прочитать комментарий в личном профиле

              li.notif-list__item
                .notif-card.notif-card--notif.notif-card--sm
                  .notif-card__img
                    .notif-card__icon
                      +icon('suitcase-o')
                  .notif-card__body
                    .notif-card__msg
                      span.notif-card__msg-name Добрыня Никитич
                      span.notif-card__msg-text выбрал вас в качестве специалиста в задание
                      a.notif-card__msg-link(href="") Подобрать авто Lada


          else if option === 'msg'
            ul.notif-list
              li.notif-list__item
                .notif-card.notif-card--msg.notif-card--sm
                  .notif-card__img
                    .user-photo.online
                      .user-photo__inner
                        img.user-photo__img(src="assets/img/content/avatars/ava-1.jpg", alt="")

                  .notif-card__body
                    .notif-card__name Добрыня Никитич
                    .notif-card__text Lorem Ipsum является текст - заполнитель обычный
                    .notif-card__date 4 часа назад

              li.notif-list__item
                .notif-card.notif-card--msg.notif-card--sm
                  .notif-card__img
                    .user-photo.user-photo--no-photo.offline
                      .user-photo__inner
                        .user-photo__img

                  .notif-card__body
                    .notif-card__name Алексей Римский-Корсаков
                    .notif-card__text Lorem Ipsum является текст - заполнитель обычный
                    .notif-card__date Вчера 12:32

          else if option === 'user'
            ul.user-menu
              each item in userMenu
                if ! item.isLast
                  li.user-menu__item
                    a.user-menu__link(href="")
                      +icon( item.icon )
                      = item.title
            each item in userMenu
              if item.isLast
                .user-menu__item.user-menu__item--single
                  a.user-menu__link(href="")
                    +icon( item.icon )
                    = item.title

      .site-header__dropdown-footer
        if option === 'notif'
          a.button.button--primary.button--block(href="") Все уведомления
        else if option === 'msg'
          a.button.button--primary.button--block(href="") Все сообщения
