header.site-header
  .site-navline.site-navline--header
    .container
      .site-header__inner
        .site-navline-left
          .site-header__logo
            .logo
              a(href="")
                .logo__text Buberu

        .site-navline-right
          ul.site-header__roles
            li.site-header__roles-item
              a(href="") Клиентам
            li.site-header__roles-item
              a(href="") Специалистам

  .site-header__main
    .container
      .site-header__inner
        .site-header__main-left
          nav.site-header__nav
            ul.site-header__menu
              li
                a(href="") Создать задание
              li
                a(href="") Поиск заданий
              li
                a(href="") Как это работает?
              li
                a(href="") Помощь

        .site-header__main-right
          ul.site-header__signin
            li.site-header__signin-item
              button.site-header__signin-trigger Войти
            li.site-header__signin-item
              button.site-header__signin-trigger Зарегистрироваться
