include menus.data.pug

header.site-header(class=(bodyClass === 'home-page') ? 'site-header--transparent' : '')
  include ../site-navline/site-navline-header

  .site-header__main
    .container
      .site-header__main-inner
        .site-header__main-left
          nav.site-header__nav
            button.burger.site-header__burger#burger(aria-label='Меню')
              span.burger__bar

            ul.site-header__menu
              each item in mainMenu
                li.site-header__menu-item
                  a.site-header__menu-link(href="")= item

        .site-header__main-right
          ul.site-header__signin
            li.site-header__signin-item
              a.site-header__signin-link(href='' role="button") Войти
            li.site-header__signin-item
              a.site-header__signin-link(href='' role="button") Зарегистрироваться

  include mobile-nav
