-
  var mainMenu = [
    'Создать задание',
    'Поиск заданий',
    'Как это работает?',
    'Помощь',
  ];

  var userMenu = [
    {
      title: 'Мой профиль',
      icon: 'user-o'
    },
    {
      title: 'Избранное',
      icon: 'star-o'
    },
    {
      title: 'Мои заказы',
      icon: 'check-rounded-o'
    },
    {
      title: 'Уведомления',
      icon: 'bell-o',
      count: 2
    },
    {
      title: 'Сообщения',
      icon: 'envelope-o',
      count: 3
    },
    {
      title: 'Список специалистов',
      icon: 'list-o'
    },
    {
      title: 'Выйти',
      icon: 'sign-out-o',
      isLast: true
    },
  ];
