include menus.data.pug

.mobile-nav.is-closed#mobile-nav
  .mobile-nav__overlay(data-close-nav)
  .mobile-nav__content
    .mobile-nav__inner
      .mobile-nav__header
        .mobile-nav__logo
          a.logo(href="")
            .logo__text Buberu
        .button-icon.button-close(data-close-nav)
          +icon("close-o")
      .mobile-nav__body
        .mobile-user-section
          .flag.mobile-user
            .flag__img.mobile-user__img
              .user-photo
                .user-photo__inner
                  img.user-photo__img(src="assets/img/content/avatars/ava-1.jpg", alt="")
            .flag__body.mobile-user__body
              .mobile-user__name Владимир Тихонов
              .mobile-user__role Заказчик

          ul.user-menu.user-menu--mobile
            each item in userMenu
              li.user-menu__item
                a.user-menu__link(href="")
                  +icon( item.icon )
                  = item.title
                  if item.count
                    span.user-menu__counter= item.count

        ul.mobile-menu
          each item in mainMenu
            li
              a(href="")= item
