/* ==========================================================================
   #SWIPER
   ========================================================================== */

.swiper-block {
  position: relative;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  margin: 0;
  opacity: 1;
  transform: translate(0, -50%);
  border-radius: $global-radius;
  font-size: 18px;
  color: $color-body;
  background-color: $grey-1;

  @include basic-transition((background-color, color, opacity));
  @include on-event {
    outline: none;
    color: #fff;
    background-color: $color-bg-primary;
  }

  .icon {
    @include center-block;
  }
}

.swiper-button-prev {
  left: -65px;

  @include mq($from: xl) {
    left: -95px;
  }
}

.swiper-button-next {
  right: -65px;

  @include mq($from: xl) {
    right: -95px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}

// .swiper-button-disabled {
//   opacity: unset;
//   background-color: rgba(196, 196, 196, 0.9) !important;
// }

.swiper-button-hidden {
  opacity: 0;
  pointer-events: none;
}

.swiper-pagination-bullets {
  position: static;
  transform: none;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 6px;
  background: $grey-2;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: $color-bg-primary;
}

// .swiper-buttons--inline {
//   display: flex;

//   > * {
//     position: relative;
//     top: unset;
//     right: unset;
//     bottom: unset;
//     left: unset;
//     transform: none;
//     flex-shrink: 0;
//   }

//   > * + * {
//     margin-left: 14px;
//   }
// }

// .swiper-button--circle {
//   width: 65px;
//   height: 65px;
//   border-radius: 50%;
//   opacity: 0.8;
//   border: 1.5px solid #FEFEFE;

//   @include on-event {
//     opacity: 1;
//   }
// }
