-
  var persons = [
    {
      img: "ava-1.jpg",
      title: "Ника Андреева",
      subtitle: "Электроника / Бытовая техника",
      status: true,
      feat: true,
    },
    {
      img: "ava-1.jpg",
      title: "Андрей Бобков",
      subtitle: "Автомеханик / Автоподбор",
      status: true,
      feat: false,
    },
    {
      img: "ava-1.jpg",
      title: "Мирослав Римский-Корсаков",
      subtitle: "Программирование / IT",
      status: false,
      feat: false,
    },
  ];
