include specialists.data.pug

section.section.section-specialists
  .container
    .section__head
      h2.section__title Выбрать специалиста
      a.link.link--dashed(href="") Посмотреть всех специалистов

    .swiper-block.specialists-slider-wrapper
      .swiper-container.specialists-slider
        .swiper-wrapper
          each person in persons
            .swiper-slide.specialists-slide
              +card-person(person)
