/* ==========================================================================
   #SPACING
   ========================================================================== */

/**
 * Spacing
 * Utilities for controlling an element's padding and margin.
 * Based on https://github.com/tailwindcss/tailwindcss
 */

@mixin make-space($values, $prefixes, $grid-breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    // xs
    @if ($breakpoint-value != 0) {
      @each $prefix-short, $prefix-long in $prefixes {
        @each $value-short, $value-long in $values {

          @if ($prefix-short == 'p' and $value-short == 'auto') or
            ($prefix-short == 'pt' and $value-short == 'auto') or
            ($prefix-short == 'pr' and $value-short == 'auto') or
            ($prefix-short == 'pb' and $value-short == 'auto') or
            ($prefix-short == 'pl' and $value-short == 'auto') or
            ($prefix-short == 'px' and $value-short == 'auto') or
            ($prefix-short == 'py' and $value-short == 'auto') {
          } @else {
            .#{$prefix-short}-#{$value-short} {
              @if (length($prefix-long)) {
                @each $a in $prefix-long {
                  #{$a}: #{$value-long};
                }
              } @else {
                #{$prefix-long}: #{$value-long};
              }
            }
          }

        }
      }
    }
  }
}

@mixin make-space-responsive($values, $prefixes, $grid-breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    // sm, md, lg, xl
    @if ($breakpoint-value != 0) {
      @media screen and (min-width: $breakpoint-value) {
        @each $prefix-short, $prefix-long in $prefixes {
          @each $value-short, $value-long in $values {

            @if ($prefix-short == 'p' and $value-short == 'auto') or
              ($prefix-short == 'pt' and $value-short == 'auto') or
              ($prefix-short == 'pr' and $value-short == 'auto') or
              ($prefix-short == 'pb' and $value-short == 'auto') or
              ($prefix-short == 'pl' and $value-short == 'auto') or
              ($prefix-short == 'px' and $value-short == 'auto') or
              ($prefix-short == 'py' and $value-short == 'auto') {
            } @else {
              .#{$breakpoint-name}-#{$prefix-short}-#{$value-short} {
                @if (length($prefix-long)) {
                  @each $a in $prefix-long {
                    #{$a}: #{$value-long};
                  }
                } @else {
                  #{$prefix-long}: #{$value-long};
                }
              }
            }

          }
        }
      }
    }
  }
}

@if $use-spacing {
  @include make-space($space-values, $space-prefixes, $breakpoints);
}

@if $use-spacing-responsive {
  @include make-space-responsive($space-values, $space-prefixes, $breakpoints);
}

.m-0 { margin: 0 !important; }

.mx-0,
.ml-0 { margin-left: 0 !important; }

.mx-0,
.mr-0 { margin-right: 0 !important; }

.my-0,
.mt-0 { margin-top: 0 !important; }

.my-0,
.mb-0 { margin-bottom: 0 !important; }

.mt-1 { margin-top: 4px !important; }
.mr-1 { margin-right: 4px !important; }
.mb-1 { margin-bottom: 4px !important; }
.ml-1 { margin-left: 4px !important; }

.mt-2 { margin-top: 8px !important; }
.mr-2 { margin-right: 8px !important; }
.mb-2 { margin-bottom: 8px !important; }
.ml-2 { margin-left: 8px !important; }

.mt-3 { margin-top: 16px !important; }
.mr-3 { margin-right: 16px !important; }
.mb-3 { margin-bottom: 16px !important; }
.ml-3 { margin-left: 16px !important; }

.mt-4 { margin-top: 24px !important; }
.mr-4 { margin-right: 24px !important; }
.mb-4 { margin-bottom: 24px !important; }
.ml-4 { margin-left: 24px !important; }

.mt-5 { margin-top: 32px !important; }
.mr-5 { margin-right: 32px !important; }
.mb-5 { margin-bottom: 32px !important; }
.ml-5 { margin-left: 32px !important; }

.mt-6 { margin-top: 40px !important; }
.mr-6 { margin-right: 40px !important; }
.mb-6 { margin-bottom: 40px !important; }
.ml-6 { margin-left: 40px !important; }

.p-0 { padding: 0 !important; }
